{% extends "layout.html" %}
{% block body %}
<main id="contacts">
    <div id="slip_bg_container">
        <p id="slip_title">Food Basket</p>
        <p class="close">x</p>
        <div id="slip">
            <p>
                Dear Customer<br><br>
                Thank you very much for your unwavering support<br><br>
                From the whole team and management<br>
                We wish you a Merry Christmas<br>
                And a Happy New York<br><br>
                Compliments of the new season<br><br>
                Yinai WaWa<br>
                Group CEO<br>
                Maisha Laini
            </p>
        </div>
    </div>
</main>
{% endblock %}