{% extends "layout.html" %}
{% block body %}
<main>
    <table style="margin-top: 10px" class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Position</th>
                <th>Description</th>
                <th>Requirements</th>
                <th>Closing Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Software Engineer</td>
                <td>The quick brown fox jumps over the lazy dog</td>
                <td>The quick brown fox is still jumping over the lazy dog</td>
                <td>22 Jan 2052</td>
            </tr>
            <tr>
                <td>Junior Developer</td>
                <td>The quick brown fox jumps over the lazy dog</td>
                <td>The quick brown fox is still jumping over the lazy dog</td>
                <td>22 Jan 2052</td>
            </tr>
            <tr>
                <td>Senior Full Stack Developer</td>
                <td>The quick brown fox jumps over the lazy dog</td>
                <td>The quick brown fox is still jumping over the lazy dog</td>
                <td>22 Jan 2052</td>
            </tr>
        </tbody>
    </table>
</main>
{% endblock %}